@model IEnumerable<ER.Service.Models.AgregateRateDTO>

@{
    ViewData["Title"] = "Agregate Valute";
}

<table class="table">
    <tr>
        <th>
            @Html.Label("Код бумаги")
        </th>                
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionPairs)
            </td>            
            <td>                
            </td>            
        </tr>
    }
</table>
